.main {
  display: flex;
  background-color: DodgerBlue;
}

.main>div {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 12px;
}

h2{
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

table {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-grid-tile {
  background: lightblue;
  width: 20%;

}


.example-card img {
  max-width: 80%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
