<div style="width: 50%;margin-left: 25%">
  <mat-tab-group dynamicHeight>{{formType}}

    <mat-tab label="Login">
      <div class="example-large-box mat-elevation-z4">
        <app-login-reg [formType]="true" formTitle="Login"></app-login-reg>
      </div>
    </mat-tab>

    <mat-tab label="Register">
      <div class="example-large-box mat-elevation-z4">
        <!-- <app-login-reg [formType]="false" formTitle="Register"></app-login-reg> -->
        <app-register></app-register>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
