<div class="success" *ngIf="messageSuc">
  <h3>{{ messageSuc }}</h3>
</div>
<div class="alert-danger" *ngIf="messageErr">
  <h3>{{ messageErr }}</h3>
</div>
<mat-card class="example-card ">
  <mat-card-header>
    <mat-card-title>
      <h3 style="color: blue">
        Register
      </h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="abc">
    <form class="example-form" [formGroup]="logForm">
      <table class="example-full-width" cellspacing="0">


        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" formControlName="name" required maxlength="50">

            </mat-form-field>
            <div *ngIf="logForm.controls['name'].touched && logForm.controls['name'].invalid">
              <div *ngIf="logForm.get('name').hasError('required')">
                <span>
                  <div class="fieldError"> Please enter a name. </div>
                </span>
              </div>
              <div *ngIf="logForm.get('name').hasError('name') && !logForm.get('name').hasError('required')">
                <span>
                  <div class="fieldError"> Invalid name </div>
                </span>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email" required maxlength="50">

            </mat-form-field>
            <div *ngIf="logForm.controls['email'].touched && logForm.controls['email'].invalid">
              <div *ngIf="logForm.get('email').hasError('required')">
                <span>
                  <div class="fieldError"> Please enter a email. </div>
                </span>
              </div>
              <div *ngIf="logForm.get('email').hasError('email') && !logForm.get('email').hasError('required')">
                <span>
                  <div class="fieldError"> Invalid email </div>
                </span>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="password" maxlength="20" formControlName="password" [formGroup]="logForm" required>
            </mat-form-field>
            <div *ngIf="logForm.controls['password'].touched && logForm.controls['password'].invalid">
              <div *ngIf="logForm.get('password').hasError('required')">
                <span>
                  <div class="fieldError"> Please enter a password. </div>
                </span>
              </div>
              <div *ngIf="logForm.get('password').hasError('minlength')">
                <span>
                  <div class="fieldError"> Password must be at least 5 characters long. </div>
                </span>

              </div>
            </div>

          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm Password" maxlength="20" [formGroup]="logForm" type="password" formControlName="confPassword"
                required>
            </mat-form-field>
            <div *ngIf="logForm.controls['confPassword'].touched && logForm.controls['confPassword'].invalid">
              <div *ngIf="logForm.get('confPassword').hasError('required')">
                <span>
                  <div class="fieldError"> Please Confirm password. </div>
                </span>
              </div>
              <span style="background: rgb(243, 167, 167);" *ngIf="logForm.controls['confPassword'].touched && logForm.get('confPassword').hasError('notEqual') &&
              !logForm.get('confPassword').hasError('required')">
                Password and Confirm Password does not match
              </span>
            </div>

            <!-- <div class="alert-danger" *ngIf="logForm.get('confPassword').hasError('MutchPassword')">Password not match</div> -->
          </td>
        </tr>

      </table>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <!-- <div *ngIf="!formType">
      <button mat-raised-button (click)="loginOrReg(logForm.value)" color="primary">Register</button>
    </div>
    <div *ngIf="formType"> -->
    <button mat-raised-button (click)="loginOrReg(logForm.value)" [disabled]="!logForm.valid" color="primary">Register</button>
    <!-- </div> -->
  </mat-card-actions>
</mat-card>
